In [8]:
import pandas as pd
import json
import os

In [2]:
path='./group-object/'
label=path+'modified_object_name.json'
mapping=path+'mapping_references.csv'

In [3]:
with open(label, 'r') as j:
    dict= json.load(j)
    label_df = pd.DataFrame.from_dict(dict,orient='index',columns=['label'])
    label_df.index = label_df.index.astype(int) 
label_df

                           label
3               springbok female
6                           goat
11         american bison female
15              binturong female
16                cheetah female
..                           ...
643  black cat back arched angry
660                   canaan dog
665         dog remeshed hunting
671                   12245_bird
689                   polar bear

[186 rows x 1 columns]

In [4]:
map_df=pd.read_csv(mapping).set_index('mappingID')
map_df

                         ID
mappingID
0          0016afdafa241a8b
1          00b174d953f27354
2          00beb632ff36011e
3          0109bd7501410481
4          014cbea869fcf211
...                     ...
706        ff2eff3e8be69c85
707        ff35780e9a84c00c
708        ff4fb6cb32c1c467
709        ff51de34794e07fd
710        ffb83d7326fd48d9

[711 rows x 1 columns]

In [5]:
#join_df=pd.merge(map_df,label_df,left_index=True, right_index=True)
join_df=map_df.join(label_df).set_index('ID')
join_df

                             label
ID
0016afdafa241a8b               NaN
00b174d953f27354               NaN
00beb632ff36011e               NaN
0109bd7501410481  springbok female
014cbea869fcf211               NaN
...                            ...
ff2eff3e8be69c85               NaN
ff35780e9a84c00c               NaN
ff4fb6cb32c1c467               NaN
ff51de34794e07fd               NaN
ffb83d7326fd48d9               NaN

[711 rows x 1 columns]

In [6]:
#join_df.to_csv('new_label.csv',header=None,index=None)

In [7]:
aug_list={}
origin=join_df.index.to_list()
group=path+'data/'
for folder in origin:
    if not os.path.exists(group+folder): continue
    aug_list[folder]=[]
    for file in os.listdir(group+folder):
        if file[:-4]!=folder:
            aug_list[folder].append(file[:-4])
aug_list

{'019470e0b56fe70a': ['ddfa2ef9e3c43e13',
  '6bc2402ce628bbef',
  '0266a5a1e24613ba'],
 '0313b6fb78613a9e': ['6dc816c6745c0b4d',
  'd3377b07ed88c02c',
  '0823860d2037647f'],
 '034074f6277978dc': [],
 '0426cd835b1f0bf0': ['53e9c7c3130f2d41'],
 '0449f665c5c7d649': ['55f44c3f728145bb',
  'b141dda23578766d',
  'f30a9b11844c24b0'],
 '046ba23fb2dba9b6': ['4ea79a529433b5d6',
  '5061a045b4f68bc6',
  '0efe9a4279ef9c48'],
 '06420791d90920aa': [],
 '067354f955919479': [],
 '079c96c521c73ca9': ['904cb4ada4827f50',
  'fe0dc4f6d17a9c13',
  '410211806e61d8bb'],
 '07b9f5a19be6449a': [],
 '0ac1112120f956e6': ['b54319c9bb0ede4d', '592aba62e8462b16'],
 '0c27b52a88c33aae': ['f34aa0a2108b06c2',
  'f72449d035d0ac79',
  '553744f87e36aabb'],
 '0cc1b52750c22499': ['02f910f4d565a330',
  '2d4347cacab9627c',
  '587eeec34cf4d2c8'],
 '103a969e2bb1dcc9': [],
 '10436dc75a8fa9d4': [],
 '11e16848f8de0a7b': ['ee5fdac79ee65b48',
  '88fe8b2185d4feb6',
  'ae09892d3ad04b4b'],
 '130ee9cf38dcc2a1': [],
 '1387e002edbe7757': [],
 '152e68ac50b67fd3': [],
 '18476d26139f9f44': [],
 '188f8079c7e8e65a': [],
 '1925dd31d7b4064c': ['6f08aeec26ba66cf'],
 '19be36a45ce6f9e4': ['0489595b95c547dd', '9fe19c2f9343a942'],
 '1a0240c017cd5737': [],
 '1b0305051ec67406': [],
 '1b538c586ad2c0db': ['f0931310b6964a5e'],
 '1b7bc4b33cddb120': ['145639767668eaf7',
  '5ae6baa4fd312d38',
  'e406c931589df07b'],
 '1ba95d8d320f5e33': ['5587d54f4108c95e',
  '3d677a4457574cd7',
  'e7f4d68eb4c3f512'],
 '1bb180982752f261': [],
 '1cb8783b0b728483': [],
 '1df3b0ad86562fde': ['390eb1a5e57f1bd5',
  '9d6d5dd3175f52fa',
  '068a77d6a7c8aa90'],
 '208ff71bed4a1459': [],
 '255d31f96c2f3723': ['c8c580af957a5d2c', '3df2c5b8e30103ff'],
 '25d8bb2c5103d784': [],
 '2846d0b05ed649cf': ['26f8ae8f8db6e224', 'f5c33961fc80448c'],
 '28ae488982984ce3': ['1065699438e44f04', '29e1d80da09586cc'],
 '29c20613ff8b0ea4': ['47a5282b8ba9e6d2', '24215bf7ce370aaf'],
 '29e9d7cf62ed365b': [],
 '2accc11b14dde296': ['5e873501f1e26ca0',
  '2268076b3b795a99',
  'fe8ba017416507eb'],
 '2ad8b1381890d17a': [],
 '2c709428b2ca75be': ['811a1f305c2884ce',
  '1f65711c9ef62568',
  '1180fbeb855ae874'],
 '2db0707188554ab9': [],
 '2f97710a9ad1b2c5': ['c0711e59c0006177',
  'a957b00d43ef7c8f',
  'f7237b602f17a279'],
 '303ae000f3346db3': [],
 '30d44706cdb396ba': [],
 '30db82e1d7e02e0f': ['dd8a26c4de9a4d6c',
  'dc4ff0bf65018d35',
  '5e626e0bc33e7019'],
 '33fdb47f963804ae': [],
 '3bd22b60871f3c97': [],
 '3bdb27fe2e018a7c': ['0016afdafa241a8b',
  '4bc2868c75c32abd',
  '1f7b19dd8f7d532e'],
 '3c2c913e87a88e57': [],
 '3c5f903557218c37': ['8b4f277b03b271b5',
  '30aeb0f6039ef714',
  'ff35780e9a84c00c'],
 '3cf19cfa1149d500': ['47d04be344220ba4',
  '1eb2e5d50f0ae982',
  '2c5bd307d25beb0f'],
 '3e5de1100e3b5b82': ['d0c30ad9d0522ca9',
  '2232fed9e00d559a',
  'd4de076de078e6ba'],
 '3e93217cf9baa08f': ['7febb03fa7121507',
  'f1d410c5d6888311',
  '9351cfef5ce54e69'],
 '413505e6f4ddf95e': ['8e5b0a1b440e41b1',
  'f24db050b4065a9c',
  'e31ced3776eca0a7'],
 '43cc39cf656a41ae': ['7939a5fa2ffed845', 'ea200cbaf4ceb144'],
 '43cfff6a23acafe7': [],
 '43fd7e94a67f9376': ['50d1d60a07d09d83',
  '5d33d36a11ebf237',
  '7907e0dc70c44f92'],
 '45e33d9f984acc7a': ['98b9ecda30efcb34'],
 '492ab711a91f0d60': ['7bf29d74ee81f62a',
  'c36b74d05bd80d81',
  'c281a16ddb955261'],
 '4a295ba0a7ded399': [],
 '4b433ec01cdaafff': ['c6457fbbce37ec86',
  '107cecfd59be0583',
  '39ac47af68e86109'],
 '4ca46d226ab601bf': ['e0f5cafb98d9acf7',
  'b345896ab5eb2f5e',
  'd0ea1adb69ca11d1',
  'b46c5d1510f7e1a4'],
 '4d7a48f9df08a11e': ['d91ae5ac12f20fb9'],
 '4ef649c218c6ffd0': ['fdfd2538c9269782'],
 '4f144c6cac46dac5': ['8f1e3d3f3eb18a62',
  '6c74ffe6fa3a2227',
  '02bf2b708a98eb01'],
 '4f7811c96a04ba51': ['c08b5058ec12705d', '0ae627367cedcd26'],
 '511779683b40b395': [],
 '5177b051d25ea0f7': ['56d86e7b9f59e2b7', '124bea9bc82bb0c4'],
 '52037651db34d9c6': ['3762672a3fb6a081',
  '5a47b8a4ad093e6c',
  '5f779cd192cae3a3'],
 '5268c856bdbcd7ec': ['6fc0839548a389b2'],
 '53139295c1a7f131': ['d135189b46e20da8',
  '5716d05c503ca41e',
  '40989eb3293c273e'],
 '56458bc6918ca35d': ['7f9c5a47a8b18f00',
  '014cbea869fcf211',
  '3707cda48b44084f'],
 '56e73e1ef7d75a43': [],
 '5a0331cd4017b611': ['cb59eadac2b90db5',
  '919317f18eaae8fd',
  '8061c9167e0cb731'],
 '5a96f86475d74e88': [],
 '5aff7c6a33aa8071': ['5748b8108aea43c6',
  'dbfad9e0971c6734',
  'aae580fed8c9604b'],
 '5cf7adb1082aa77d': ['1e76e5c9aa18cad5',
  'ef916ad12d81d484',
  'dfbb8fdd9be16fc6'],
 '5d078794e493954c': ['b40605d93511756d',
  '8905f44a81dddb52',
  '52f8ea88fade532a'],
 '5f2f1b58e50c61bf': ['13e0f1c32a3c9bcc'],
 '5f38dbc7e09d2cdd': ['15d746d0e8530e55',
  'deed286d937453e9',
  '56c67f15ec8bdb2c'],
 '60a64c226b25f697': ['69b0631cac45fce6',
  '60af2d4f86d5307c',
  '2b72aa75a44e8847'],
 '60d4505f1a7290eb': ['9dd06e3c5098a211',
  '3af12c73b71c656f',
  '22648f17641ea2ee'],
 '62e532ede5fce4a5': ['79a002142ee6b312', '4d5af5360a844b3f'],
 '64263b59af4be01a': ['aa0598ae402d2833',
  'd3ce00984b6ffe3a',
  '36089dc42596904a'],
 '6481b377a1f2992a': ['f6dddfd190b2291f', '983acf35534872bb'],
 '6585855871402772': ['74703abba6aed00b',
  '819367dceddb838b',
  '22c09296590fb951'],
 '6586d4fbdf3bbddb': [],
 '658d4e36212e9c9e': ['d3af05d7f2f37761',
  '2e86a3625d556854',
  'cc9d45414fb693d5'],
 '6920236f40bf3768': [],
 '6afaaa7ebeee14b7': [],
 '6b3b93b4b0711861': [],
 '6beb33f61a648b30': [],
 '6d73a35aafa82787': [],
 '6e92439ce227a932': ['919b80269990ac22',
  'b3639e91e48f90f1',
  '7f36942b8785093d'],
 '6f3e9d792ec6082d': ['24e4919ee2fad075',
  'edf43557a84dc38e',
  'a4da84ed81451ad0'],
 '6f41ba76e9ffcf67': ['a52636bfacafa2b6',
  'ab130247173f42ba',
  'f68c68b42185c717'],
 '6f50fb3efc179160': [],
 '7173c9264a210587': ['b2155ffa27d015f8',
  '0ae964801539411d',
  'cb6ef21b1c71cbbb'],
 '74e121781a01280d': ['8d32b020126e6e8c',
  '4f721ca24c1ea9ee',
  '92daae9f6dbb128e'],
 '75a51a0bc964ed21': [],
 '75bd8a12238f44b5': [],
 '76386d460969cd1c': [],
 '7693fede195ea017': ['20b5e565c2f67b81'],
 '78b045d9082fa8a1': [],
 '78c02d222c27bc25': [],
 '78c5de6dd0d3af11': [],
 '7af0ae61cfa42a48': ['67fbcae05765c5f0'],
 '7c53223fa27fbb2b': ['3bf1ce0d8b192e34'],
 '80b20ad87a71a44f': ['01fea2892d3dcb14'],
 '80f19bdb036e4d95': [],
 '825b05e3f1482c22': ['d3ba454970b6abd8', 'a3dc68476353e506'],
 '82c76d00ebd193b6': ['0a77cd2a91dfff53',
  'd52126f39607d7e5',
  '5544db19d7450c08'],
 '837f7b9ff5dcfa78': ['25a5dff1c2e3fd6c'],
 '846ee3d09ab0fcc8': ['4581d98eaf09d27b',
  '688c7d507ae9f253',
  'd46d18fabb157728'],
 '84cda9bd7042c100': ['bdf5128b241959b8',
  '3730d6a7fdb0e4a8',
  'e17edb72cc31de14',
  'aaf18dc46614568f',
  '7bc562527a894ac8'],
 '85e5acde0498e53b': [],
 '868c9905d94ddb08': ['6892964be383453f',
  '8f42f036627160ae',
  'c0dcb96c756dbfc5'],
 '86e6f532243c9e95': [],
 '876489950e67fe4b': ['c6a64b1fd1e8cd43',
  '05c7a6c16b69e4b0',
  '3dd66bd447d95ae1'],
 '88652c4cf16deeda': [],
 '8e2dcf928d4348fd': ['3c203e2dbdf1bea7',
  '4cce9c8ae0103550',
  '4e3036c53e50beed',
  'd3f5de25c5cfe10b'],
 '90ba6644ad322c47': ['55a985eef253a7a0',
  '2d0e5e5ef940e212',
  'e9b85e6177ccf14d'],
 '93068e2de4fc820a': ['2ae530419cd685af',
  '8b0062ec0267c5f1',
  'c08708af112a0bc7'],
 '93c911b19ed62df8': ['a86071b0d9d7d0da',
  '52fde79d27bfeafd',
  '70de0fdcbaf1302f'],
 '97db07b2d5e4b197': [],
 '98b4aaaa2165fcd1': ['fb9353dc68b766dd', '7aa5b3344260a6c8'],
 '9aa017336678933a': [],
 '9b93eafce6f5a7ac': [],
 '9c8ce73f3c2c12d2': ['d2262a2bf815bca0',
  'c4ee709c2845df96',
  'bbe5a083ba234197'],
 '9d5d62c52379d9f0': ['087d185ae42e6026',
  'd7ec8c861271c6b9',
  '032fb59a082e3095'],
 '9e89b018e25bd4ed': [],
 '9ea7c44d1e5ac264': ['11395e357f045559',
  '6f58684956f448da',
  '46f3bcef53438440',
  'c6cbe6d259d1c457'],
 'a02aaca56afb4f17': ['d30fb376f0eaea2b',
  'ee0a634b331b5a2a',
  '95fbfda2a354bacc'],
 'a609886e475e0942': [],
 'a7c3e08cc4309ec9': ['a5842e12a9200d43',
  '9d9e8b57fde29a41',
  'fca89dbdefa84fb9'],
 'a91a958f77aaaf7a': [],
 'ab047afa481c3134': ['a3f337038d154765',
  'da0da90b4c6c9621',
  'ea4680eb71358a11'],
 'ac3d3b1b6d75d3ae': ['bc362ef90482b082',
  '29550f9c0b8e7d7a',
  '1e87934cd4d7e8ee'],
 'ad6886154dae4a8c': ['9e10ab1de79421ec',
  'ea0a0d3cb57de45c',
  '1dacb6cdad209643'],
 'b0334182d0c3faeb': ['b609dc59b3039257',
  '1564b04086c2c084',
  '2dfa7571f2321b9e'],
 'b1fc2b6ab1cbb8e7': [],
 'b234fb92bcacf4db': ['1d502beefbc7697e',
  '2ce177087a5b7860',
  'a92a71ac204d0223'],
 'b44e755a2fb42ad0': ['5f76ff02b2bd8554'],
 'b5f24bcd658e3bd5': ['9e2c640d53381d60', '7115af5fd3e62ca0'],
 'bbdedc10be93fb6e': ['c6902f10d0efd8be', 'ad790b0a529e2267'],
 'bd8a7ac67339e2d5': ['bb306902252799be',
  '9115ebf2eb5e3dd1',
  'd6654dc72b2fc814'],
 'bd9f8bd45593a0cc': ['e16916d53f03e59f'],
 'bfdb497b62c53c6d': [],
 'c0d8aefb3b2ae9fb': ['c4cb6c13af0fba27',
  '342d50ae23716421',
  '8f2b6f200d420b7e',
  'dd986bc1a049ef4b',
  '8e05fa0fab7d7e0f'],
 'c43879676fbe4462': [],
 'c44866f41c8768f3': [],
 'c53efb8e05ccafb5': [],
 'c6f7761f5fe290fa': ['efdf5b5eed9a4890', '10bcae5f92b18612'],
 'c78aacf25332539a': ['b55c36293cdb47bf',
  '225def4a419b8f55',
  'fbebaed970d04c62'],
 'c8a68150df3727e6': [],
 'c9115aa02a41a4e6': ['18916433442bd760',
  'ad3a9fd00fc69eaf',
  '6efc9529ed9e7fc5'],
 'c97abb4e781eaec2': [],
 'cb4fbea952d068b4': [],
 'ccedf54cba34d96d': ['00beb632ff36011e'],
 'cdb03dd72471b157': [],
 'ce9073046498fc6f': [],
 'd1aef3261220290a': ['64773bd12fa9b48c',
  'fc8524975220e49c',
  '98032f4c2f991db9'],
 'd2e4667d08d1ff86': ['148342bfa8f41a31'],
 'd42e636946ade14e': ['d265178183f1045a'],
 'd5ce39428399616c': ['6929c827e1ce8419',
  '40ffabf8d9949b3a',
  '03b5427c9cbad7df'],
 'd7f91c8dd06833e0': [],
 'd8507df2c18f7908': [],
 'd93679457ff96f4f': [],
 'e0c5393e4f88864f': ['26c8931736dc43fb'],
 'e448bfc8561b7f5b': ['6fc741f92c03654d',
  '0b98619a32548d8e',
  'aa182a1ca33fba10'],
 'e478035ea7a63a88': [],
 'e5ee823dd8ebfe70': ['8d3be739b380144a',
  '5e6f1816ab0eebeb',
  '72996e8a76011909'],
 'e74b025c2133655a': ['4ed71d8d8944949a', 'a2a17167753efcb1'],
 'e74deefe0a3ad809': ['c484f391c112c70f',
  '0cedfe3226dabe49',
  '25eb316bfa00fc98'],
 'e81bcfcf9bf2c1ca': ['5dce28d98011a696',
  '845335c530f24a80',
  'e072cf875c16542a'],
 'e84c540449aea18a': [],
 'e8626631698592a7': ['e7d35ff357dd270d', '9c0ccaca4f7af75d'],
 'eac21a4b02e6e24a': [],
 'eb2ca1b686cec5b6': [],
 'ebb4e5b69643d4ab': ['581129f2e0a8962a'],
 'ee08e4a284a536e8': [],
 'ee348416503b399b': [],
 'eea729867e7273aa': [],
 'f1089dcdf18fa0a2': ['ae93f2d3e0ab350d', 'a635e529613c6c00'],
 'f2e49e6309928b53': ['e505606f158f2955',
  'f764a508c643d067',
  '0ffc2d1991f4d1e4'],
 'f2fcaced04bd4f2e': ['efa061e775cc76e0',
  '20fad05da21b0518',
  '8240c7ae34b9fcd0'],
 'f4673fcd52f52b95': ['c06f7a01098b018b'],
 'f488c177fdbbab01': [],
 'f4ae012475c8b50a': [],
 'f807a75c0e3429fa': [],
 'f88ddb5d1e798ebc': ['b660f7e5959a2ea0',
  '3080f1b08986b040',
  'f676e480e5f79f05'],
 'fb5c86ffdae2de70': [],
 'fb8e44e358fa39c8': [],
 'fec0ffde891590ec': ['654e7e41a4575e77',
  'cbef81f72fefce7a',
  '1b86d214f8445508'],
 'fed99c4e5443d447': [],
 'ff4fb6cb32c1c467': [],
 'ff51de34794e07fd': [],
 'ffb83d7326fd48d9': []}

In [8]:
s=0
for folder in aug_list:
    for file in aug_list[folder]: 
        try:
            join_df.at[file,'label']=join_df.at[folder,'label']
            s+=1
        except:
            pass
join_df=join_df.dropna()
join_df
#print(s)

                                    label
ID
0016afdafa241a8b                 elephant
00beb632ff36011e                      cat
0109bd7501410481         springbok female
014cbea869fcf211               12214_bird
01612cb400453597               12236_bird
...                                   ...
fdfd2538c9269782               12259_bird
fe0dc4f6d17a9c13  african elephant female
fe8ba017416507eb     indian elephant male
fec0ffde891590ec                      fox
ff35780e9a84c00c                     boar

[475 rows x 1 columns]

In [23]:
join_df=pd.read_csv(path+'new_train_tex.csv')
join_df

                obj_id                                                tex
0     0109bd7501410481                                   springbok female
1     019470e0b56fe70a                                               goat
2     019470e0b56fe70a    A goat is running around the farm to find grass
3     0313b6fb78613a9e                              american bison female
4     0426cd835b1f0bf0                                   binturong female
...                ...                                                ...
1049  1b86d214f8445508  A fox is standing to watch the prey under the ...
1050  654e7e41a4575e77                                                fox
1051  654e7e41a4575e77  A fox is standing to watch the prey under the ...
1052  cbef81f72fefce7a                                                fox
1053  cbef81f72fefce7a  A fox is standing to watch the prey under the ...

[1054 rows x 2 columns]

In [25]:
file_col=[i+'.obj' for i in join_df['obj_id'].to_list()]
join_df['obj_filename']=file_col
join_df

,obj_id,tex,obj_filename
0,0109bd7501410481,springbok female,0109bd7501410481.obj
1,019470e0b56fe70a,goat,019470e0b56fe70a.obj
2,019470e0b56fe70a,A goat is running around the farm to find grass,019470e0b56fe70a.obj
3,0313b6fb78613a9e,american bison female,0313b6fb78613a9e.obj
4,0426cd835b1f0bf0,binturong female,0426cd835b1f0bf0.obj
...,...,...,...
1049,1b86d214f8445508,A fox is standing to watch the prey under the ...,1b86d214f8445508.obj
1050,654e7e41a4575e77,fox,654e7e41a4575e77.obj
1051,654e7e41a4575e77,A fox is standing to watch the prey under the ...,654e7e41a4575e77.obj
1052,cbef81f72fefce7a,fox,cbef81f72fefce7a.obj
1053,cbef81f72fefce7a,A fox is standing to watch the prey under the ...,cbef81f72fefce7a.obj

In [27]:
text_id={}
count=1
name_set=set()
for i in join_df['tex'].to_list():
    name_set.add(i)
for i in name_set:
    text_id[i]='a'+str(count)
    count+=1
text_id

{'cow': 'a1',
 'clouded leopard female': 'a2',
 'nyala male': 'a3',
 'concrete dog statue chewing holding bone': 'a4',
 'sable antelope juvenile': 'a5',
 'A whitetail deer doe is resting in the shade': 'a6',
 'lion': 'a7',
 'brown bear': 'a8',
 'japanese macaque male': 'a9',
 'A hippopotamus is travelling through water': 'a10',
 'capuchin monkey female': 'a11',
 'aardvark female': 'a12',
 'A huge bird is roosting in a bush': 'a13',
 'plains zebra male': 'a14',
 'A female mandrill is climbing out the top of the tree': 'a15',
 'A male Baird tapir is seeking out water': 'a16',
 'american bison female': 'a17',
 'A tiny young dingo is basking in the sun near the lake': 'a18',
 'springbok female': 'a19',
 'A female African elephant is standing in the shade to take a rest': 'a20',
 'western lowland gorilla male': 'a21',
 'arctic wolf juvenile': 'a22',
 'sparrow': 'a23',
 'indian rhinoceros juvenile': 'a24',
 'A sun bear is lumbering through the forests by night': 'a25',
 'A sheep is moving around the field to find water': 'a26',
 'jaguar male': 'a27',
 'reticulated giraffe male': 'a28',
 'common ostrich male': 'a29',
 'A red deer stag is seeking shelter in dense vegetation': 'a30',
 'gray wolf female': 'a31',
 'black cat back arched angry': 'a32',
 'gull': 'a33',
 'thomsons gazelle male': 'a34',
 'A white bird is gliding over the river': 'a35',
 'A huge bird is foraging food': 'a36',
 'peacock female': 'a37',
 'binturong female': 'a38',
 'A big gemsbok is standing beside the waterfall': 'a39',
 'african elephant male': 'a40',
 'deerdoe': 'a41',
 'dingo juvenile': 'a42',
 'bear roaring and lunging forward': 'a43',
 'A spotted hyena is resting in mud at stream': 'a44',
 'A brown crow is foraging for food in fields': 'a45',
 'babirusa female': 'a46',
 'cuviers dwarf caiman juvenile': 'a47',
 'An Indian male elephant is sucking up water': 'a48',
 'african buffalo juvenile': 'a49',
 'dall sheep female': 'a50',
 'A Malayan tapir is foraging for leaves around the tree': 'a51',
 'bonobo juvenile': 'a52',
 'bongo male': 'a53',
 'sable antelope male': 'a54',
 'bornean orangutan female': 'a55',
 'A female Bornean orangutan is moving from tree to tree': 'a56',
 'A tiny chicken is scratching at the ground': 'a57',
 'A Bengal tiger is standing to watch the prey': 'a58',
 'black wildebeest male': 'a59',
 'west african lion male': 'a60',
 'A great horned owl is flying over the forest': 'a61',
 'A female cassowary is standing near the river to watch the waterfall': 'a62',
 'A Formosan black bear is seeking shelter in dens': 'a63',
 'A goat is running around the farm to find grass': 'a64',
 'american bison juvenile': 'a65',
 'lesser antillean iguana': 'a66',
 'giant panda female': 'a67',
 'A tiny bird is perching on the post': 'a68',
 'gray wolf': 'a69',
 'swan': 'a70',
 'A white swan is staying in breeding areas': 'a71',
 'A golden eagle is soaring over the river': 'a72',
 'indian rhinoceros female': 'a73',
 'goose': 'a74',
 'A komodo dragon is preparing to attack the prey': 'a75',
 'A crocodile is swimming and diving to catch prey': 'a76',
 'common warthog female': 'a77',
 'pronghorn antelope female': 'a78',
 'nyala female': 'a79',
 'chicken': 'a80',
 'cassowary juvenile': 'a81',
 'A giant otter is standing and resting in a burrow': 'a82',
 'springbok juvenile': 'a83',
 'A cuviers dwarf caiman is resting': 'a84',
 'A night wolf is fast-moving to catch the prey near the waterfall': 'a85',
 'himalayan brown bear male': 'a86',
 'indian peafowl male': 'a87',
 'king penguin male': 'a88',
 'proboscis monkey male': 'a89',
 'duck': 'a90',
 'basset': 'a91',
 'hippopotamus': 'a92',
 'wolf': 'a93',
 'ring tailed lemur male': 'a94',
 'west african lion female': 'a95',
 'sheep': 'a96',
 'puff adder': 'a97',
 'hippopotamus male': 'a98',
 'crocodile': 'a99',
 'saltwater crocodile juvenile': 'a100',
 'dall sheep juvenile': 'a101',
 'reindeer juvenile': 'a102',
 'falcon': 'a103',
 'common ostrich juvenile': 'a104',
 'A male nyala is drinking on the lake': 'a105',
 'african wild dog female': 'a106',
 'sk': 'a107',
 'A big sheep is walking to the shelter': 'a108',
 'african buffalo female': 'a109',
 'bactrian camel male': 'a110',
 'A giant anteater is resting in a sheltered area': 'a111',
 'zebra': 'a112',
 'A tiny bird is returning to the nest': 'a113',
 'gemsbok female': 'a114',
 'A red kangaroo is resting in the shade': 'a115',
 'rabbit': 'a116',
 'canaan dog': 'a117',
 'babirusa juvenile': 'a118',
 'A male pronghorn antelope is running at speeds in the field': 'a119',
 'stag': 'a120',
 'red ruffed lemur male': 'a121',
 'pygmy hippo male': 'a122',
 'indian peafowl juvenile': 'a123',
 'red panda male': 'a124',
 'giant anteater juvenile': 'a125',
 'A bonobo is standing and playing on the sand': 'a126',
 'A small sparrow is sleeping in bushes': 'a127',
 'greater flamingo male': 'a128',
 'chinese pangolin male': 'a129',
 'crow': 'a130',
 'great horned owl': 'a131',
 'gemsbok juvenile': 'a132',
 'okapi male': 'a133',
 'bird toucan': 'a134',
 'mandrill juvenile': 'a135',
 'A dog is sitting and holding a bone in its mouth': 'a136',
 'A female thomsons gazelle is browsing on grasses': 'a137',
 'gharial male': 'a138',
 'indian elephant male': 'a139',
 'A huge boar is roaming over large areas in search of water': 'a140',
 'mandrill female': 'a141',
 'A fox is standing to watch the prey under the tree': 'a142',
 'grizzly bear male': 'a143',
 'bear': 'a144',
 'polar bear': 'a145',
 'A male thomsons gazelle is resting in the lake edge': 'a146',
 'A big wolf is standing and resting': 'a147',
 'diamondback terrapin': 'a148',
 'A female babirusa is foraging for food near water sources': 'a149',
 'aldabra giant tortoise female': 'a150',
 'A juvenile Nile monitor is crawling on the sand near the river': 'a151',
 'galapagos giant tortoise male': 'a152',
 'A ring tailed lemur is lying down on the branch': 'a153',
 'bird': 'a154',
 'bornean orangutan juvenile': 'a155',
 'reindeer male': 'a156',
 'A tiny parrot hiding in the nest on the tree': 'a157',
 'black wildebeest juvenile': 'a158',
 'indian elephant female': 'a159',
 'A white sheep is sunbathing in the field': 'a160',
 'nile monitor juvenile': 'a161',
 'A great parrot is traveling between different branches.': 'a162',
 'snow leopard female': 'a163',
 'goat': 'a164',
 'A grey seal is diving into the pool': 'a165',
 'A female west african lion is roaming the savannas': 'a166',
 'fox': 'a167',
 'australian cattle dog': 'a168',
 'grey seal female': 'a169',
 'A tiny sparrow is foraging for food on the ground': 'a170',
 'llama male': 'a171',
 'red kangaroo male': 'a172',
 'A white duck is resting on the water': 'a173',
 'seagull': 'a174',
 'polar bear male': 'a175',
 'A juvenile dhole is moving and playing in the forest': 'a176',
 'pigeon': 'a177',
 'A young gemsbok is resting under the tree': 'a178',
 'cat': 'a179',
 'A big lioness is resting under the tree': 'a180',
 'malayan tapir male': 'a181',
 'pig': 'a182',
 'A lion is moving long distances to reach the water': 'a183',
 'bengal tiger male': 'a184',
 'dog remeshed hunting': 'a185',
 'A male Bornean orangutan is looking for food near the stream': 'a186',
 'A female peacock is dancing': 'a187',
 'A puff adder is moving away from the pool': 'a188',
 'common warthog juvenile': 'a189',
 'indian rhinoceros male': 'a190',
 'A red ruffed lemur  is standing under the tree': 'a191',
 'boar': 'a192',
 'A bear is roaring and lunging forward': 'a193',
 'A brown pig is slow-moving away the mud': 'a194',
 'A white pigeon is flying to the top of the mountain': 'a195',
 'A polar bear is searching for food on the ice rock': 'a196',
 'A huge elephant is using their trunks to spray water': 'a197',
 'western chimpanzee male': 'a198',
 'lehmanns poison frog': 'a199',
 'arctic wolf male': 'a200',
 'A grey sparrow is foraging on the ground': 'a201',
 'rhinoceros': 'a202',
 'babirusa male': 'a203',
 'elephant': 'a204',
 'bornean orangutan male': 'a205',
 'marco polo sheep': 'a206',
 'A small llama is running from the predator': 'a207',
 'african elephant female': 'a208',
 'caracal': 'a209',
 'cassowary female': 'a210',
 'sun bear male': 'a211',
 'thomsons gazelle juvenile': 'a212',
 'spotted hyena male': 'a213',
 'giant otter male': 'a214',
 'A great cow is resting and lie down under the tree': 'a215',
 'pronghorn antelope male': 'a216',
 'springbok male': 'a217',
 'A young Bornean orangutan is standing and playing in the forest canopy': 'a218',
 'pygmy hippo juvenile': 'a219',
 'An angry cat is in defense and holding its tail straight up': 'a220',
 'koala male': 'a221',
 'A great koala is hugging its child on the tree': 'a222',
 'komodo dragon juvenile': 'a223',
 'siberian tiger juvenile': 'a224',
 'dhole juvenile': 'a225',
 'A juvenile black wildebeest is running to the lake': 'a226',
 'antelope': 'a227',
 'tibetan bear': 'a228',
 'dall sheep male': 'a229',
 'formosan black bear juvenile': 'a230',
 'A big bear is searching for food in the cave': 'a231',
 'cheetah female': 'a232',
 'A reindeer is fast-moving to the water source': 'a233',
 'thomsons gazelle female': 'a234',
 'lioness': 'a235',
 'A female cheetah is moving around to find water': 'a236',
 'A medium bird is bathing on the lake': 'a237',
 'okapi female': 'a238'}

In [28]:
textid_df=pd.DataFrame.from_dict(text_id,orient='index',columns=['text_id'])
textid_df.loc['elephant','text_id']

'a204'

In [29]:
join_df=join_df.join(textid_df,on='tex')
join_df = join_df.reset_index()
join_df

,index,obj_id,tex,obj_filename,text_id
0,0,0109bd7501410481,springbok female,0109bd7501410481.obj,a19
1,1,019470e0b56fe70a,goat,019470e0b56fe70a.obj,a164
2,2,019470e0b56fe70a,A goat is running around the farm to find grass,019470e0b56fe70a.obj,a64
3,3,0313b6fb78613a9e,american bison female,0313b6fb78613a9e.obj,a17
4,4,0426cd835b1f0bf0,binturong female,0426cd835b1f0bf0.obj,a38
...,...,...,...,...,...
1049,1049,1b86d214f8445508,A fox is standing to watch the prey under the ...,1b86d214f8445508.obj,a142
1050,1050,654e7e41a4575e77,fox,654e7e41a4575e77.obj,a167
1051,1051,654e7e41a4575e77,A fox is standing to watch the prey under the ...,654e7e41a4575e77.obj,a142
1052,1052,cbef81f72fefce7a,fox,cbef81f72fefce7a.obj,a167
1053,1053,cbef81f72fefce7a,A fox is standing to watch the prey under the ...,cbef81f72fefce7a.obj,a142

In [40]:
#join_df=join_df.drop(['index'],axis=1)
join_df = join_df[[ 'obj_id', 'text_id', 'obj_filename', 'tex']]
join_df

,obj_id,text_id,obj_filename,tex
0,0109bd7501410481,a19,0109bd7501410481.obj,springbok female
1,019470e0b56fe70a,a164,019470e0b56fe70a.obj,goat
2,019470e0b56fe70a,a64,019470e0b56fe70a.obj,A goat is running around the farm to find grass
3,0313b6fb78613a9e,a17,0313b6fb78613a9e.obj,american bison female
4,0426cd835b1f0bf0,a38,0426cd835b1f0bf0.obj,binturong female
...,...,...,...,...
1049,1b86d214f8445508,a142,1b86d214f8445508.obj,A fox is standing to watch the prey under the ...
1050,654e7e41a4575e77,a167,654e7e41a4575e77.obj,fox
1051,654e7e41a4575e77,a142,654e7e41a4575e77.obj,A fox is standing to watch the prey under the ...
1052,cbef81f72fefce7a,a167,cbef81f72fefce7a.obj,fox
1053,cbef81f72fefce7a,a142,cbef81f72fefce7a.obj,A fox is standing to watch the prey under the ...

In [41]:
test_path=path+'test_tex.csv'
test_df=pd.read_csv(test_path)
test_list=test_df['obj_id'].to_list()
test_df

,obj_id,text_id,obj_filename,tex
0,70c98f4c562affee,0534ec3a9103aa94,70c98f4c562affee.obj,A black goat is returning the shelter
1,d7f91c8dd06833e0,0534ec3a9103aa94,d7f91c8dd06833e0.obj,A black goat is returning the shelter
2,c53efb8e05ccafb5,0534ec3a9103aa94,c53efb8e05ccafb5.obj,A black goat is returning the shelter
3,6f50fb3efc179160,0534ec3a9103aa94,6f50fb3efc179160.obj,A black goat is returning the shelter
4,afb4aa409ce3ba60,3348435fbd0a3121,afb4aa409ce3ba60.obj,A juvenile cassowary is finding food
...,...,...,...,...
77,c6902f10d0efd8be,aaaaaaaaaaaaaaa11,c6902f10d0efd8be.obj,A penguin is searching for food
78,5a0331cd4017b611,faf6aaefb1d8cf61,5a0331cd4017b611.obj,A great cow is resting and lie down under the ...
79,8061c9167e0cb731,faf6aaefb1d8cf61,8061c9167e0cb731.obj,A great cow is resting and lie down under the ...
80,919317f18eaae8fd,faf6aaefb1d8cf61,919317f18eaae8fd.obj,A great cow is resting and lie down under the ...
81,cb59eadac2b90db5,faf6aaefb1d8cf61,cb59eadac2b90db5.obj,A great cow is resting and lie down under the ...

In [42]:
join_df=join_df[~join_df['obj_id'].isin(test_list)]
join_df

,obj_id,text_id,obj_filename,tex
0,0109bd7501410481,a19,0109bd7501410481.obj,springbok female
1,019470e0b56fe70a,a164,019470e0b56fe70a.obj,goat
2,019470e0b56fe70a,a64,019470e0b56fe70a.obj,A goat is running around the farm to find grass
3,0313b6fb78613a9e,a17,0313b6fb78613a9e.obj,american bison female
4,0426cd835b1f0bf0,a38,0426cd835b1f0bf0.obj,binturong female
...,...,...,...,...
1049,1b86d214f8445508,a142,1b86d214f8445508.obj,A fox is standing to watch the prey under the ...
1050,654e7e41a4575e77,a167,654e7e41a4575e77.obj,fox
1051,654e7e41a4575e77,a142,654e7e41a4575e77.obj,A fox is standing to watch the prey under the ...
1052,cbef81f72fefce7a,a167,cbef81f72fefce7a.obj,fox
1053,cbef81f72fefce7a,a142,cbef81f72fefce7a.obj,A fox is standing to watch the prey under the ...

In [43]:
train_path='./csv/train_tex.csv'
train_df=pd.read_csv(train_path)
train_list=train_df['obj_id'].to_list()
train_df

,obj_id,text_id,obj_filename,tex
0,13a49ab0aecbc76f,04b64385ccad4949,13a49ab0aecbc76f.obj,A female mandrill is climbing out the top of t...
1,40e86f26ce8cc8eb,04b64385ccad4949,40e86f26ce8cc8eb.obj,A female mandrill is climbing out the top of t...
2,836406771c68c193,04b64385ccad4949,836406771c68c193.obj,A female mandrill is climbing out the top of t...
3,bda1f6d4a4b5fe79,04b64385ccad4949,bda1f6d4a4b5fe79.obj,A female mandrill is climbing out the top of t...
4,62d3595fe53c81be,0cfe7e0fa8aac26a,62d3595fe53c81be.obj,A night wolf is fast-moving to catch the prey ...
...,...,...,...,...
297,fe0dc4f6d17a9c13,51c33db36e283711,fe0dc4f6d17a9c13.obj,A female African elephant is standing in the s...
298,ebb4e5b69643d4ab,754687fa7f45b78e,ebb4e5b69643d4ab.obj,An angry cat is in defense and holding its tai...
299,303ae000f3346db3,754687fa7f45b78e,303ae000f3346db3.obj,An angry cat is in defense and holding its tai...
300,1a0240c017cd5737,754687fa7f45b78e,1a0240c017cd5737.obj,An angry cat is in defense and holding its tai...
301,581129f2e0a8962a,754687fa7f45b78e,581129f2e0a8962a.obj,An angry cat is in defense and holding its tai...

In [44]:
join_df=join_df[~join_df['obj_id'].isin(train_list)]
join_df

                obj_id text_id          obj_filename                     tex
0     0109bd7501410481     a19  0109bd7501410481.obj        springbok female
3     0313b6fb78613a9e     a17  0313b6fb78613a9e.obj   american bison female
4     0426cd835b1f0bf0     a38  0426cd835b1f0bf0.obj        binturong female
7     046ba23fb2dba9b6    a109  046ba23fb2dba9b6.obj  african buffalo female
10    0b3e8d17d98f5193     a11  0b3e8d17d98f5193.obj  capuchin monkey female
...                ...     ...                   ...                     ...
1037  b660f7e5959a2ea0     a59  b660f7e5959a2ea0.obj   black wildebeest male
1038  f676e480e5f79f05     a59  f676e480e5f79f05.obj   black wildebeest male
1039  c43879676fbe4462    a145  c43879676fbe4462.obj              polar bear
1040  e478035ea7a63a88    a145  e478035ea7a63a88.obj              polar bear
1041  fb5c86ffdae2de70    a145  fb5c86ffdae2de70.obj              polar bear

[357 rows x 4 columns]

In [46]:
join_df=join_df[~join_df['tex'].str.contains('_bird')]
join_df

                obj_id text_id          obj_filename                     tex
0     0109bd7501410481     a19  0109bd7501410481.obj        springbok female
3     0313b6fb78613a9e     a17  0313b6fb78613a9e.obj   american bison female
4     0426cd835b1f0bf0     a38  0426cd835b1f0bf0.obj        binturong female
7     046ba23fb2dba9b6    a109  046ba23fb2dba9b6.obj  african buffalo female
10    0b3e8d17d98f5193     a11  0b3e8d17d98f5193.obj  capuchin monkey female
...                ...     ...                   ...                     ...
1037  b660f7e5959a2ea0     a59  b660f7e5959a2ea0.obj   black wildebeest male
1038  f676e480e5f79f05     a59  f676e480e5f79f05.obj   black wildebeest male
1039  c43879676fbe4462    a145  c43879676fbe4462.obj              polar bear
1040  e478035ea7a63a88    a145  e478035ea7a63a88.obj              polar bear
1041  fb5c86ffdae2de70    a145  fb5c86ffdae2de70.obj              polar bear

[357 rows x 4 columns]

In [47]:
join_df.to_csv('./group-object/labeled_data.csv',header=None,index=False)

# K Fold

In [12]:
path='./kfold/'
df_full=pd.read_csv(path+'full_tex.csv')
df_full

,obj_id,text_id,obj_filename,tex
0,13a49ab0aecbc76f,04b64385ccad4949,13a49ab0aecbc76f.obj,A female mandrill is climbing out the top of t...
1,40e86f26ce8cc8eb,04b64385ccad4949,40e86f26ce8cc8eb.obj,A female mandrill is climbing out the top of t...
2,836406771c68c193,04b64385ccad4949,836406771c68c193.obj,A female mandrill is climbing out the top of t...
3,bda1f6d4a4b5fe79,04b64385ccad4949,bda1f6d4a4b5fe79.obj,A female mandrill is climbing out the top of t...
4,62d3595fe53c81be,0cfe7e0fa8aac26a,62d3595fe53c81be.obj,A night wolf is fast-moving to catch the prey ...
...,...,...,...,...
731,c6902f10d0efd8be,aaaaaaaaaaaaaaa11,c6902f10d0efd8be.obj,A penguin is searching for food
732,5a0331cd4017b611,faf6aaefb1d8cf61,5a0331cd4017b611.obj,A great cow is resting and lie down under the ...
733,8061c9167e0cb731,faf6aaefb1d8cf61,8061c9167e0cb731.obj,A great cow is resting and lie down under the ...
734,919317f18eaae8fd,faf6aaefb1d8cf61,919317f18eaae8fd.obj,A great cow is resting and lie down under the ...
735,cb59eadac2b90db5,faf6aaefb1d8cf61,cb59eadac2b90db5.obj,A great cow is resting and lie down under the ...

In [14]:
from sklearn.model_selection import KFold

kf = KFold(n_splits = 5, shuffle = False, random_state = None)

fold = 0
for i, (train_index, test_index) in enumerate(kf.split(df_full)):
    train = df_full.iloc[train_index]
    val = df_full.iloc[test_index]
    train.to_csv(path+f'train_tex_{fold}.csv', index = False)
    val.to_csv(path+f'test_tex_{fold}.csv', index = False)
    fold += 1
kf.split(df_full)

In [15]:
for fold in range(5):
    print('Test fold', fold)
    df_train_0 = pd.read_csv(path+f'train_tex_{fold}.csv')
    df_val_0 = pd.read_csv(path+f'test_tex_{fold}.csv')
    print('Train:', len(df_train_0))
    print('Val:', len(df_val_0))

Test fold 0
Train: 588
Val: 148
Test fold 1
Train: 589
Val: 147
Test fold 2
Train: 589
Val: 147
Test fold 3
Train: 589
Val: 147
Test fold 4
Train: 589
Val: 147